.tweet {
    max-width: 90%;
    padding: 3vh;
    background: #cdbae1;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: cursive;
    border-radius: 3vh;
    height: 10vh;
    cursor: pointer;
}

.tweet-name {
    overflow: hidden;
}

.linkTweet {
    color: #20285c;
    text-decoration: none;
    background-color: transparent;
}

.tweet-section {
    max-height: 89vh;
    overflow-y: scroll;
}

.social-row {
    margin-right: 0px !important;
}