<div class="container-fluid">
  <div class="row social-row">
    <div class="col-md-7 news-section">
      <app-news></app-news>
    </div>
    <div class="col-md-5 right-section">
      <div class="tweet-section">
        <app-tweets></app-tweets>
      </div>
      <div class="row heading">
        <h4>
          Emission stats
        </h4>
      </div>
      <div class="row">
        <div class="stats-section col-sm-9">
          <app-stats-live class="statsdata"></app-stats-live>
        </div>
        <div class="col-sm-3">
          <app-stats-data></app-stats-data>
        </div>
      </div>

    </div>
  </div>
</div>