<div class="container-fluid">
  <div class="row social-row">
    <div class="col-md-7 news-section">
      <app-news></app-news>
    </div>
    <div class="col-md-5 right-section">
      <div class="tweet-section">
        <app-tweets></app-tweets>
      </div>
      <div class="heading">
        <h6>
          Emission stats
        </h6>
      </div>
      <div class="row">
        <div class="stats-section col-lg-7 gridsec">
          <app-stats-live class="statsdata"></app-stats-live>
        </div>
        <div class="col-lg-4 gridsec">
          <app-stats-data></app-stats-data>
        </div>
      </div>


    </div>
  </div>
</div>