

.tweet-section {
    height: 60vh;
    overflow-y: scroll;
    background-color: #676e92;
}

.news-section {
    /* background-color: #676e92; */
    max-height: 94vh;
    overflow-y: scroll;
} 

.heading {
    text-align: center;
    color: #cbff97;
    justify-content: center;
    margin-top: 1vh;
}

.stats-section {
    height: 30vh;
}

.statsdata {
    height: inherit;
}

.right-section {
    max-height: 94vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.news-section::-webkit-scrollbar {
    display: none;
}

.right-section::-webkit-scrollbar {
    display: none;
}

.news-section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}