<div>

  <div class="row">
    <div class="col-sm-12">
      <label>
        <h5>Enter Source address</h5>
      </label>
      <div class="input-group">
        <input [(ngModel)]="srcAddress" class="form-control width100" type="text" id="srcaddress"
          placeholder="Search for the Location" autocorrect="off" autocapitalize="off" spellcheck="off" #searchSrc />
        <span class="input-group-btn">
          <button class="btn btn-info" (click)="searchSrcAddress()">Search</button>
        </span>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <label>
        <h5>Enter Destination address</h5>
      </label>
      <div class="input-group">
        <input [(ngModel)]="destAddress" class="form-control width100" type="text" id="srcaddress"
          placeholder="Search for the Location" autocorrect="off" autocapitalize="off" spellcheck="off" #searchDest />
        <span class="input-group-btn">
          <button class="btn btn-info" (click)="searchDestAddress()">Search</button>
        </span>
      </div>
    </div>
  </div>
 
  <hr>
  <div class="btn-group row">
    <div id="mode" class="btn-group col-md-6" ngbDropdown role="group" aria-label="Button group for mode">
      <button class="btn btn-outline-warning" ngbDropdownToggle>{{modeString}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem value="walking" (click)="onModeChange($event)">Walk</button>
        <button ngbDropdownItem value="driving" (click)="onModeChange($event)">Drive</button>
        <button ngbDropdownItem value="bicycling" (click)="onModeChange($event)">Bicycle</button>
        <button ngbDropdownItem value="transit" (click)="onModeChange($event)">Transit</button>
        <button ngbDropdownItem value="flight" (click)="onModeChange($event)">Flight</button>
      </div>
    </div>
    <div *ngIf="modeString === 'driving'" class="btn-group col-md-6" ngbDropdown role="group"
      aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-success" ngbDropdownToggle>{{vehicleString}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem *ngFor="let vehicle of drivingList; let i = index" [value]="vehicle"
          (click)="vehicleString=vehicle">
          <h6>{{vehicle}}</h6>
        </button>
      </div>
    </div>
    <div *ngIf="modeString === 'transit'" class="btn-group col-md-6" ngbDropdown role="group"
      aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-success" ngbDropdownToggle>{{vehicleString}}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem *ngFor="let vehicle of transitList; let i = index" [value]="vehicle"
          (click)="vehicleString=vehicle">
          <h6>{{vehicle}}</h6>
        </button>
      </div>
    </div>

    <div *ngIf="modeString === 'flight'" class="btn-group col-md-6" ngbDropdown role="group"
    aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-success" ngbDropdownToggle>{{seatTypeString}}</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let seatType of seatTypes; let i = index" [value]="seatType"
        (click)="seatTypeString=seatType">
        <h6>{{seatType}}</h6>
      </button>
    </div>
  </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="computeCF()">Compute Emissions</button>
    </div>
  </div>
  <br>
  <h4>Distance travelled : </h4>
  <h4 class="distance-travelled">{{distance}}</h4>
  <!-- <input type="text" [disabled]="true" [(ngModel)]="distance" /> -->
  <h4>Carbon emissions in grams : </h4>
  <h4 class="emissions">{{emissions}}</h4>
  <!-- <input type="text" [disabled]="true" [(ngModel)]="emissions" /> -->
</div>