<div id="mode" class="btn-group col-md-6" ngbDropdown role="group" aria-label="Button group for mode">
  <button class="btn btn-outline-warning" ngbDropdownToggle>{{modeString}}</button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button ngbDropdownItem value="methane" (click)="onModeChange($event)">Methane</button>
    <button ngbDropdownItem value="carbonmonoxide" (click)="onModeChange($event)">Carbon-Monoxide</button>
  </div>
</div>
<div>
  <div class="row today">
    <div class="col-sm-12">
      <h6>
        Today's stats
      </h6>
    </div>

    <div class="col-sm-5">
      <p>
        Min :
      </p>
    </div>
    <div class="col-sm-7">
      <p>
        {{ dailyStats[0].toFixed(4) }}
      </p>
    </div>
    <div class="col-sm-5">
      <p>
        Max :
      </p>
    </div>
    <div class="col-sm-7">
      <p>
        {{ dailyStats[1].toFixed(4) }}
      </p>
    </div>
    <div class="col-sm-5">
      <p>
        Avg :
      </p>
    </div>
    <div class="col-sm-7">
      <p>
        {{ dailyStats[2].toFixed(4) }}
      </p>
    </div>
  </div>
</div>